
.biiling-address{
    
    background: #F5F6F8;
    
}
.appear-button-lg{
    display: block !important;
}
.disappear-button-lg{
    display: none !important;
}
.black-button{
    background-color: #232E3E !important;
}
.green-button{
    background-color: #0C611A !important;
}
.gold-color{
    color: #F8991F;
}
.billing-address-form{
    width: 100%;
}
.white-background{
    background: #FFFFFF;
}
.bank-account-grey-color{
    color: #C7C7C7;
    font-size: 14px;
}
.bank-account-black-color{
    font-size: 16px;
}
.form-input>div{
    border: 1px solid #F1F1F1;
    border-radius: 4px;
    height: 35px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: inset 0px 0px 2px #00000012;
    color: #202020;
    font-size: 14px;
}
.form-input-disabled{
    box-shadow: inset 0px 0px 2px #00000012;
}
.form-input-disabled>div{
    height: 35px;
}
.form-input-select{
    border: 1px solid #F1F1F1;
    border-radius: 4px;
    height: 35px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: inset 0px 0px 2px #00000012;
    text-align: left;
    font-size: 14px !important;
}
.form-input-bottom-box>div{
    width: calc(50% - 7px) !important;
}
.address-field-width{
    width: 100%;
}
@media only screen and (min-width: 1024px) {
    .appear-button-lg{
        display: none !important;
    }
    .disappear-button-lg{
        display: block !important;
    }
    .form-input-bottom-box>div{
        width: calc(25% - 10.5px) !important;
    }
    .address-field-width{
        width: 50%;
    }
}