.bank-account{
    background: #F5F6F8;
    height: 100%;
}
.white-background{
    background: #FFFFFF;
}
.bank-account-users{
    max-height: 290px;
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}
.bank-account-user-box{
    max-width: 767px;
    width: 100% !important;
    height: 71px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 4px;
    padding: 7px 14px 7px 14px;
}

.bank-account-grey-color{
    color: #C7C7C7;
    font-size: 14px;
}
.bank-account-black-color{
    font-size: 16px;
}

.appear-button{
    display: block !important;
    
}



@media only screen and (min-width: 768px) {
    .appear-button{
        display: none !important;
    }
    .bank-account-user-box{
        width: 272px !important;
    }
}

@media only screen and (max-width: 767px){
    .bank-account{
        background: #FFFFFF !important;
    }
    .white-background{
        background: #F5F6F8 !important;
    }
}
